<!DOCTYPE html>
<html>
    <head>
        <title>Confirmation Page</title>
        <link rel="shortcut icon" type="image/png" href="../static/atom.jpg"/>
        
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <body>
        
        <div class="container">
            <div class="row">
                <div class="col s12">
                  <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                      <span class="card-title">Success!</span>
                      <p>You submitted an announcement for LS3!  Congratulations.</p>
                      <p>If you submitted this announcement in error, contact Elissa Levy to remove it.</p>
                    </div>
                    <div class="card-action">
                     <a href = "/index">Click for all announcements.</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </body>
</html>